.photo-grid {
    max-width: 1184px;
    max-height: 671px;
    padding: 92px 48px;
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(3, 213px);
    gap: 16px;
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        max-width: 928px;
        max-height: 942px;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(4, 225px);
        gap: 14px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        max-width: 720px;
        max-height: 1664px;
        padding: 88px 24px;
        grid-template-columns: repeat(2, 352px);
        grid-template-rows: repeat(6, 264px);
        gap: 16px;
    }
}

@media screen and (max-width: 540px) {
    .photo-grid {
        max-width: 288px;
        max-height: 2724px;
        padding: 64px 16px;
        grid-template-columns: 288px;
        grid-template-rows: 216px;
        gap: 12px;
    }
}

