.intro__list {
    width: 690px;
    height: 90px;
    margin: 0 0 92px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    color: #FFFFFF;
}