.place__link {
    width: 456px;
    height: 22px;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 0.81;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__link:hover {
    opacity: 0.8;
}