.lead__caption {
    width: calc(100% - 824px);
    margin: 8px auto 92px 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
  }