.cover__title {
    position: absolute;
    top: 245px;
    left: 312px;
    width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.05;    
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}