.place {
    max-width: 984px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: 152px 460px;
    gap: 48px 40px;
} 

@media screen and (max-width: 1023px) {
    .place {
        max-width: 928px;
        grid-template-columns: 440px 456px;
        grid-template-rows: min-content min-content;
        gap: 48px 32px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        max-width: 720px;
        grid-template-columns: 340px 352px;
        grid-template-rows: min-content min-content;
        gap: 48px 28px;
        padding-bottom: 73px;
    }
}

@media screen and (max-width: 540px) {
    .place {
        max-width: 320px;
        grid-template-columns: 320px;
        grid-template-rows: 35px 46px 320px min-content;
        gap: 32px;
    }
}